/* Default Font Amendment */
*
{   font-family: "Helvetica Neue", Helvetica, "Microsoft YaHei", Arial, sans-serif;
}

/* Body Background */
body
{   background-color: #f6f6f6;
}

/* Top Separator */
.top-separator
{   margin-top: 16px;
}

/* Search Button */
#btn-search-nav
{   width: 100%;
}

/* Search View: Search Input */
#search-cond
{   width: 80%;
}

/* Highlight Words */
highlight
{   background-color: #00ff90;
}

/* Separator */
.separator
{   height: 16px;
}
