<script src="js/search.js"></script>
<!-- Search form -->
<h3>歌词搜索</h3>
<!-- Search by navigation -->
<ul class="nav nav-pills" id="search-by-nav">
    <li search-by="title"><a href="javascript:void(0);">歌曲名称</a></li>
    <li search-by="album"><a href="javascript:void(0);">专辑名称</a></li>
    <li search-by="singer"><a href="javascript:void(0);">歌手</a></li>
    <li search-by="words"><a href="javascript:void(0);">歌词</a></li>
</ul>
<hr />
<!-- Search condition -->
<form class="form-inline" onsubmit="return false;">
    <p>输入搜索条件：（多个词请用空格分隔）</p>
    <input type="text" class="form-control" id="search-cond" placeholder="搜索条件" />&nbsp;
    <button class="btn btn-primary" id="btn-search">搜索</button>&nbsp;
    <button class="btn btn-default" id="btn-reset">清空</button>
</form>
<hr />
<!-- Search result panel (Welcome panel at beginning) -->
<div id="search-result-panel"></div>
