<script src="js/song-detail.js"></script>
<!-- Song title and singer -->
<h1 id="song-title">[Song Title] <small id="song-singer">[Singer]</small></h1>
<!-- Song basic information -->
<h3>基本信息</h3>
<table class="table table-hover">
    <tbody id="song-basic-info"></tbody>
</table>
<!-- Lyrics -->
<h3>歌词</h3>
<div class="panel panel-default">
    <div class="panel-body" id="song-lyrics"></div>
</div>
<hr />
<!-- Similar artists -->
<h3>相似歌曲</h3>
<p id="song-similar"></p>
